/.DS_Store
/.ICEauthority
/.Xauthority
/.Xsession
/._.DS_Store
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.dbus
/.gnupg
/.lesshst
/.local
/.profile
/.python_history
/.ssh
/.sudo_as_admin_successful
/.vnc
/.vscode-server
/.wget-hsts
/.xorgxrdp.10.log
/.xorgxrdp.10.log.old
/.xsession-errors
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/SDCard
/Templates
/Videos
/home
/snap
/thinclient_drives
/yolov5s.pt